<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1 class="my-4"><%= title %></h1>

    <!-- Article Parts -->
    <% for (let i = 1; i <= 6; i++) { %>
      <div class="my-4">
        <h2>Part <%= i %></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="row">
          <% for (let j = (i - 1) * 3; j < i * 3 && j < photos.length; j++) { %>
            <div class="col-md-4">
              <img src="/images/<%= photos[j] %>" class="img-fluid" alt="Photo <%= j + 1 %>">
            </div>
          <% } %>
        </div>
      </div>
    <% } %>

  </div>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
